

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
.responsiveimg {
    width: 100%;
    vertical-align: middle;
  }
  
  small {
    font-size: 85%;
  }
  
  a {
    color: #333;
    text-decoration: none;
    background-color: transparent;
  }
  
  a:hover{
    text-decoration: none;
    color: #333;
  }

  body, html {
    font-size: 16px;
    color: #555;
    font-family: 微軟正黑體, arial;
    line-height: 24px;
    background-color: #fff;
    height: auto;
    overflow-x: hidden;
  }
  h3 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.3;
  }

  
  /*Nav*/
  @media (min-width: 1200px){
  .overwrite-nav .container-fluid {
      height: 70px;
  }
  }
  
  .collapse {
    display: none;
}

  .collapsing {
    display: block;
    overflow: hidden;
    animation-name:  navshowrev ;
    animation-duration: 0.35s;
    animation-timing-function: ease;
}

  .overwrite-nav .navbar-toggler {
    background-color: #d90845;
    padding: 1rem 1.2rem;
    border-radius: 0rem;
    border: none;
    margin-right: -1rem;
  }
  
  .collapse.show {
    display: block;
    overflow: hidden;
    animation-name:  navshow ;
    animation-duration: 0.35s;
    animation-timing-function: ease;
  }

  
@media (min-width: 1200px){
.navbar-expand-xl .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}}



@media (min-width: 768px){
.navbar-expand-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}}
  
@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
  }}

  @media (min-width: 1200px){
    .navbar-expand-xl .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }}
    
    @media (min-width: 768px){
      .navbar-expand-md .navbar-collapse {
          display: -webkit-box!important;
          display: -ms-flexbox!important;
          display: flex!important;
          -ms-flex-preferred-size: auto;
          flex-basis: auto;
      }}
    
    @media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }}
    


    @media (min-width: 1200px){
    .navbar-expand-xl .navbar-collapse {
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }}

    .overwrite-nav .navbar-nav {
      padding: 0rem;
  }

  .overwrite-nav .icon-bar {
    width: 2.1875rem;
    height: 0.125rem;
    margin: 0.4375rem 0rem;
    border-radius: 0.0625rem;
    background-color: #fff;
    -webkit-transition: 0.1s all;
    transition: 0.1s all;
  }
  
  .overwrite-nav.navbar{
    padding : 0px;
  }
  
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  .overwrite-nav {
    background-color: #fff;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 20;
  }
  
  .overwrite-nav .nav-border{
    -webkit-box-shadow:0 0 0.3125rem #b0a0ad;
    box-shadow : 0 0 0.3125rem #b0a0ad;
  }
  
  .tag {
    display: inline-block;
    background: #cd3151;
    border-radius: 4px;
    padding: 2px 5px 1px;
    margin-left: 5px;
    word-break: keep-all;
    font-size: 0.85em;
    font-weight: 400;
    color: #fff;
    -webkit-animation: wobble 1.5s infinite both;
    animation:  wobble 1.5s infinite both;
  }
  
  @media (max-width: 991px) and (min-width: 768px){
  .overwrite-nav .navbar-nav .nav-link {
      padding-right: 0.4375rem;
      padding-left: 0.4375rem;
      font-size: 90%;
  }
}

@media (min-width: 768px){
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
}


.overwrite-nav .navbar-nav .nav-link {
  position: relative;
  color: #777;
  padding: 0.9375rem;
  line-height: 1.25rem;
}

.overwrite-nav .navbar-nav .nav-link:hover {
  position: relative;
  color: rgb(194, 48, 48);
  padding: 0.9375rem;
  line-height: 1.25rem;
}

.overwrite-nav .navbar-nav .nav-Active {
  position: relative;
  color: rgb(194, 48, 48);
  padding: 0.9375rem;
  line-height: 1.25rem;
}


  @-webkit-keyframes wobble { 
    0% { -webkit-transform: translateY(0) rotate(0);
      transform: translateY(0) rotate(0);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%; } 
    15% { -webkit-transform: translateY(-6px) rotate(-2deg);
      transform: translateY(-6px) rotate(-2deg); } 
    30% {     -webkit-transform: translateY(3.75px) rotate(2deg);
      transform: translateY(3.75px) rotate(2deg); } 
    45% { -webkit-transform: translateY(-6px) rotate(-1.3deg);
      transform: translateY(-6px) rotate(-1.3deg); } 
    60% { -webkit-transform: translateY(2px) rotate(1.2deg);
      transform: translateY(2px) rotate(1.2deg); } 
    75% { -webkit-transform: translateY(-1px) rotate(-0.6deg);
      transform: translateY(-1px) rotate(-0.6deg); }
    100% { -webkit-transform: translateY(0) rotate(0);
      transform: translateY(0) rotate(0);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%; } 
  }
  
  @keyframes wobble { 
    0% { -webkit-transform: translateY(0) rotate(0);
      transform: translateY(0) rotate(0);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%; } 
    15% { -webkit-transform: translateY(-6px) rotate(-2deg);
      transform: translateY(-6px) rotate(-2deg); } 
    30% {     -webkit-transform: translateY(3.75px) rotate(2deg);
      transform: translateY(3.75px) rotate(2deg); } 
    45% { -webkit-transform: translateY(-6px) rotate(-1.3deg);
      transform: translateY(-6px) rotate(-1.3deg); } 
    60% { -webkit-transform: translateY(2px) rotate(1.2deg);
      transform: translateY(2px) rotate(1.2deg); } 
    75% { -webkit-transform: translateY(-1px) rotate(-0.6deg);
      transform: translateY(-1px) rotate(-0.6deg);} 
    100% { -webkit-transform: translateY(0) rotate(0);
      transform: translateY(0) rotate(0);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%; } 
  }
  
  .wobble { 
    -webkit-animation-name: wobble; 
    animation-name: wobble; 
  }
  
  
  @keyframes navshow { 
    0% { height: 0px; } 
  
    100% { height: 353px;} 
  }

  
  @keyframes navshowrev { 
    0% { height: 353px; } 
  
    100% { height: 0px;} 
  }
  
  
/* main */

.center-block {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.light-grey-bg{
  background-color: #F7F7F7;
}



body .main_content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-top: 55px;
}

@media (max-width: 767px){
  body .main_content {
      margin-top: 65px;
  }}
  
.overwrite-index .feature-section h3, .overwrite-index .recent-lecture h3 {
  font-size: 24px;
  color: #555;
}

.overwrite-index .feature-section h3:first-child::before, .overwrite-index .recent-lecture h3:first-child::before {
  left: 50%;
  margin: 0 0 0 -40px;
  top: 100px;
  content: '';
  height: 3px;
  width: 80px;
  background: #d90845;
  border-radius: 3px;
  position: absolute;
}



.talks-partial .lecture-wrap {
  border: 1px solid #ddd;
  cursor: pointer;
  color: #666;
  height: 100%;
  background-color: #fff;
  max-width: 540px;
  margin: auto;
}

.talks-partial .lecture-wrap:hover {
  -webkit-box-shadow: 0px 9px 15px 2px rgba(137,142,150,0.25);
  box-shadow: 0px 9px 15px 2px rgba(137,142,150,0.25);
  -webkit-transform: translatey(-5px);
  transform: translatey(-5px);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.talks-partial .lecture-wrap .lecture-cover {
  width: 100%;
  
}

.talks-partial .lecture-wrap .lecture-time {
  border-top: 1px solid #ddd;
}

.talks-partial .lecture-wrap h4 {
  font-size: 18px;
}

.talks-partial .lecture-wrap small {
  color: #999;
}

.talks-partial .lecture-wrap .lecture-time small {
  width: 70px;
}




.rl-padding {
  padding: 0px 15px;
}

.badge-course-time {
  color: #666;
  background-color: #E6E6E6;
  font-size: 90%;
  padding: 7px 10px;
}

.badge-apply-course {
  color: #fff;
  background-color: #d90845;
}

.badge-new-course {
  color: #fff;
  background-color: #FF8E3B;
}
.badge {
  padding: 5px 7px;
}

.btn-red {
  background: #d90845;
  color: #fff !important;
}
.btn-lg {
  padding: 15px 50px;
  font-size: 18px;
}


/*Container*/


@media (min-width: 576px){
  .container {
      max-width: 540px;
  
  }
  }
  
  @media (min-width: 768px){
    .container {
        max-width: 720px;
    
    }}
  
  @media (min-width: 992px){
      .container {
          max-width: 960px;
      
      }}
  
  @media (min-width: 1200px){
  .container {
      max-width: 1140px;
  
  }
  }
  
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  
  /* avatar */
  .section-title::before {
    left: 50%;
    margin: 0 0 0 -2.5rem;
    transform: translateY(55px);
    content: '';
    height: 0.1875rem;
    width: 5rem;
    background: #d90845;
    border-radius: 0.1875rem;
    position: absolute;
  }
  
  .AvaterSlider {
    position: relative;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  
  
  .slider .avatarimg {
      width: 50px;
      border-radius: 50%;
  }
  
  .large {
    font-size: 150%;
    font-weight: bold;
  }
  .slider .large {
    font-weight: normal;
  }
  .text-red {
    color: #d90845;
  }
  .text-grey {
    color: #888;
  }
  
  @media (min-width: 1200px)
  {
    .slider .avatarimg {
      width: 100px;
  }}
  
  @media (min-width: 1200px){
    .slide .statement {
      margin-left: -60px;
  }}
  
  @media (max-width: 767px){
  .slide .statement {
      margin-left: 10px;
  }}
  
  .overwrite-index .avatar-carousel .slider {
    height: 200px;
  }
  
  
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .overwrite-index .avatar-carousel .dot {
    height: 10px;
    width: 10px;
    margin-right: 5px;
    border: none;
    margin: 0 5px;
    background-color: rgba(85,85,85,0.3);
    border: 1px solid #fff;
  }
  
  .overwrite-index .avatar-carousel .dot_active{
    border: 1px #fff solid;
    background-color: #B81939;
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 5px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  @media (max-width: 991px) and (min-width: 768px){
  .overwrite-index .showcases .case:nth-child(n+3) {
      display: none;
  }}
  
  @media (max-width: 1199px) and (min-width: 992px){
    .overwrite-index .showcases .case:nth-child(n+3) {
        display: none;
    }}
  
  
  .overwrite-index .feature-section h3:first-child::before, .overwrite-index .showcases h3:first-child::before {
    left: 50%;
    margin: 0 0 0 -40px;
    top: 100px;
    content: '';
    height: 3px;
    width: 80px;
    background: #d90845;
    border-radius: 3px;
    position: absolute;
  }
  
  .overwrite-index .showcases .lecture-wrap h4 {
    font-size: 18px;
    height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .overwrite-index .showcases .lecture-wrap {
    border: 1px solid #ddd;
    cursor: pointer;
    color: #666;
    height: 100%;
  }
  
  .overwrite-index .showcases .lecture-wrap p {
    font-size: 14px;
  }
  
  
/*Slider*/

.slideshow{
  text-align: center;
  position: relative;
  margin: 0;
  padding: 0;
}

.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.slide {
  position: relative;
  min-width: 100%;
  transition: 0.5s;
  align-items: center;
}


.dotbox {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.dot_active{
  border: 1px #fff solid;
  background-color: #B81939;
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 6px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 6px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

@media (max-width: 991px) and (min-width: 768px){
.overwrite-index .lecture-list .pic:nth-child(3) {
    display: none;
}}


/* showcase */

@media (max-width: 991px) and (min-width: 768px){
  .overwrite-index .showcases .case:nth-child(n+3) {
      display: none;
  }}
  
  @media (max-width: 1199px) and (min-width: 992px){
    .overwrite-index .showcases .case:nth-child(n+3) {
        display: none;
    }}
  
  
  .overwrite-index .feature-section h3:first-child::before, .overwrite-index .showcases h3:first-child::before {
    left: 50%;
    margin: 0 0 0 -40px;
    top: 100px;
    content: '';
    height: 3px;
    width: 80px;
    background: #d90845;
    border-radius: 3px;
    position: absolute;
  }
  
  .overwrite-index .showcases .lecture-wrap h4 {
    font-size: 18px;
    height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .overwrite-index .showcases .lecture-wrap {
    border: 1px solid #ddd;
    cursor: pointer;
    color: #666;
    height: 100%;
  }
  
  .overwrite-index .showcases .lecture-wrap p {
    font-size: 14px;
  }
  
  /* knowaboutus */
  .overwrite-index .know-about-us .text {
    line-height: 38px;
    font-size: 18px;
  }
  .overwrite-index .know-about-us p {
    font-size: 18px;
  }
  
  
  /* footer */
  
  
  
  .overwrite-footer {
    padding: 3.125rem 0rem;
    bottom: 0rem;
    width: 100%;
    font-size: 0.875rem;
  }
  
  .light-grey-bg {
    background: #f7f7f7;
  }
  
  .overwrite-footer h5 {
    font-size: 0.875rem;
    margin: 0.625rem 1.5625rem 0.625rem 0rem;
    font-weight: bold;
    display: inline-block;
  }
  
  
  
  .overwrite-footer .media-icon {
    border: 0.125rem solid #666;
    border-radius: 50%;
    font-size: 1.375rem;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.625rem;
    margin-right: 0.625rem;
    color: #666;
  }
  
  .overwrite-footer .scrollup {
    position: fixed;
    height: 3.125rem;
    width: 3.125rem;
    background-color: #d90845;
    color: #f7f7f7;
    border-radius: 50%;
    bottom: 1.5rem;
    right: 1.25rem;
    font-weight: bold;
    line-height: 3.125rem;
    font-size: 1.875rem;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 2;
  }
  
  .overwrite-footer h5 {
    font-size: 0.875rem;
    margin: 0.625rem 1.5625rem 0.625rem 0rem;
    font-weight: bold;
    display: inline-block;
  }
  
  .overwrite-footer .scrollup:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  .fa, .fas, .far, .fal, .fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }
  
  .overwrite-footer .cakeresume {
    font-size: 18px;
  }
  .overwrite-footer .press-img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  
  .overwrite-footer .press-img img {
    width: 100%;
  }
  
  /* Banner */
  
  .top-banner.red-bg:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(197,80,10,0.7) 0%, rgba(181,4,75,0.7) 70%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .top-banner.red-bg {
    position: relative;
    background-color: #d90845;
  }
  
  
  
  ol, ul {
    padding: 20px 40px;
  }
  
  .breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: .25rem;
  }
  
  .top-banner .breadcrumb {
    background: none;
    display: inline;
    margin: 1.25rem 0rem;
    list-style: none;
    border-radius: 0.25rem;
  }
  
  .top-banner .breadcrumb li+li::before {
    content: ">";
  }
  
  .top-banner .breadcrumb li h5 {
    display: inline;
  }
  
  .top-banner .breadcrumb li {
    font-size: 1rem;
    color: #fff;
    display: inline-block;
  }
  
  .top-banner .breadcrumb span {
    padding: 0px 5px;
  }
  
  
  .top-banner .breadcrumb li a {
    color: #fff;
    border-bottom: 0.125rem solid transparent;
    padding-bottom: 0.125rem;
  }
  
  .title {
    padding-bottom: 20px;
    line-height: 50px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 36px;
  }
  
  .top-banner h1.title {
    font-size: 2.25rem;
    font-weight: bold;
  }
  
  h1.title::before {
    left: 50%;
    margin: 0px 0px 0px -40px;
    bottom: 0px;
    content: '';
    height: 3px;
    width: 80px;
    background: #fff;
    border-radius: 3px;
    position: absolute;
  }
  
  
  /* Contact */
  
  .overwrite-contacts h3 {
    font-size: 1.5rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .btn-red {
    background: #d90845;
    color: #fff !important;
  }
  
  .overwrite-contacts input, .overwrite-contacts button, .overwrite-contacts select, .overwrite-contacts textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  .overwrite-contacts .btn-block {
    display: block;
    width: 100%;
  }
  
  .overwrite-contacts .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 0.0625rem solid transparent;
    white-space: nowrap;
    line-height: 1.42857;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .overwrite-contacts .btn-red {
    background: #d90845;
    padding: 0.9375rem 3.125rem;
    color: #fff;
    border-radius: 0.625rem;
    font-size: 1.125rem;
  }
  
  input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block {
    width: 100%;
  }
  
  .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  
  /* Modal */
  
  .ReactModalPortal > div {
    opacity: 0;
  }
  
  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  }
  
  .ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
  }
  
  .ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
  }
  
  .ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 0.2s ease-in-out;
  
  }
  
  .modal__title {
    text-align: center;
    margin: 0 0px 50px 0;
  }
  
  .modal__body {
    margin: 20px 0px 8px 20px;
    word-break: break-all;
    font-weight: 800;
  }
  
  .page-link .active {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
  }
  
  /* post */
  .list-item {
    border: 1px solid rgb(219, 216, 216);
    color: rgb(24, 23, 23);
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-decoration: none;
    transition: background .3s ease;
  }

